# Activity 1

## Please respond with your code in the cells.

1. Create a variable for your first name called ```first```.

In [7]:
first = "Justin"

2. Create a variable for your last name called ```last```.

In [8]:
last = "Mott"

3. Create a variable for your age called ```age```.

In [9]:
age = "18"

4. Using the variables you have created, create a new variable ```name``` by joining your first and last names together.

In [10]:
print(first,last)

Justin Mott

5. Use string methods to convert the variable ```activity1 = "  THIS IS MY FIRST PYTHON ACTIVITY!! "``` to  lowercase and remove any leading or trailing white space, then print the output as a new variable: ```activity1_lower```.

In [11]:
activity1 = " WOOHOO! THIS IS MY FIRST PYTHON ACTIVITY!! "
print(activity1.lower())

 woohoo! this is my first python activity!!

6. What data type is the variable ```age```? Declare the value and print the data type.

In [12]:
print(type(age))
print(age)

<class 'str'>
18

7. What happens when you add ```10``` to your ```name```? Please demonstrate it in the cell below and add an inline comment that provides a brief explanation of the result.

In [15]:
print((first,last)+(10,))
#first and last is not an integer

('Justin', 'Mott', 10)

8. Declare a variable that asks for user input, then print the variable storing their response as the output

In [17]:
name = input("What is your name? ")
print("wah gwaan "+name)

What is your name? Prince
wah gwaan Prince

-------

## Side quest challenge

This side quest is an extra credit challenge. You can still get full credit for this activity even if you do not complete this challenge.

Use ***f-string formatting*** to display your ```name``` and ```age``` in a sentence.   

Check out Kyle Bradbury and Nick Eubank's [introduction to f-strings](https://nickeubank.github.io/practicaldatascience_book/notebooks/other/fstrings.html).